#myCarousel {
    background-color: aqua;
}
#myCarousel img {
    height: 300px;
    margin-top: 35px;
}
.carousel-inner p {
    margin-bottom:15px;
    margin-top:15px;
    color:white;
    font-size: 20px;
}
#output{
    width: 500;
    height: 1000;
    background-size: contain;
}
img {
    background-size: contain;
}
iframe {
    visibility: hidden;
}